body{
    background-color: rgb(0, 0, 0);
    /* background-image: url(./kart/IMG_5634.JPG); */
    margin: 0 auto;
}
nav{
    /* background-color: rgb(105, 151, 19); */
    background-color: rgb(180, 10, 10);
    position: fixed;
    margin-top: -400px;
    width: 100%;
}
p{
    font-size: 2vw;
    text-align: center;
    margin: 0;
    padding: 0;
}
.logo{
    width: 5vw;
    height: 5vw;
}
.big{
    margin-top: 400px;
    width: 100%;
    height: 3000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.dlslogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 400px;
}
.slogan1{
    font-size: 5vw;
    color: rgb(187, 11, 11);
    font-family: SEGOE SCRIPT;
    margin: 0;
    padding: 0;
}
.slogan2{
    font-size: 7vw;
    color: rgb(180, 10, 10);
    font-family:  brush script mt;
    margin: 0;
    padding: 0;
}
.dltext{
    display: flex;
    flex-direction: column;
   justify-content: center;
    width: 60%;
    height: 650px;
}
.text{
    font-size: 1vw;
    text-align: center;
    font-family: segoe script;
    margin: 0;
    padding: 0;
    color: white;
}
hr{ 
    margin-bottom: 3%;
    margin-top: 3%;
    width: 90%;
}
.carta{
    margin-top: 100px;
    height: 650px;
    width: 60%;
}
.nazv{
    font-size: 8vw;
    font-family: brush script mt;
    margin: 0;
    padding: 0;
    text-align: center;
}
iframe{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    font-family: segoe script;
    color: black;
    padding-left: 7%;
}
.one{
    padding-left: 1%;
}
.kontakt{
    height: 600px;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.seti{
    height: 600px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rest{
    height: 600px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ikonki{
    border-radius: 50%;
    height: 12vw;
    width: 12vw;
}
.ik{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
h1{
    margin-left: 4%;
    color: white;
    font-family: segoe script;
}
.gr{
    width: 90%;
    height: 70%;
}
.gorod{
    margin-left: 4%;
    color: white;
    text-align: left;
    font-size: 1vw;
    font-family: segoe script;
}
.rek{
    border: 2px solid white;
    border-radius: 20px;
    width: 60%;
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lev{
    display: flex;
    align-items: center;
    width: 30%;
    height: 250px;
    flex-direction: column;
}
.tg{
    margin-left: 3%;
    width: 2vw;
    height: 2vw;
    border-radius: 20px;
}
.il{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid white;
}
.prav{
    width: 60%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ht{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pr{
    color: white;
    font-family: segoe script;
    margin: 0;
    padding: 0;
}
.pra{
    color: white;
    font-family:  brush script mt;
}
.kk{
    margin-left: 3%;
}